<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->


    <head>
        <meta charset="utf-8">
        <title>Grill Restaurant Website Template</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width">

        <link rel="stylesheet" href="css/bootstrap.css">
        <link rel="stylesheet" href="css/font-awesome.css">
        <link rel="stylesheet" href="css/templatemo_style.css">
        <link rel="stylesheet" href="css/templatemo_misc.css">
        <link rel="stylesheet" href="css/flexslider.css">
        <link rel="stylesheet" href="css/testimonails-slider.css">

        <script src="js/vendor/modernizr-2.6.1-respond-1.1.0.min.js"></script>
    </head>
    <body class="body111">
        <!--[if lt IE 7]>
            <p class="chromeframe">You are using an outdated browser. <a href="http://browsehappy.com/">Upgrade your browser today</a> or <a href="#/chromeframe/?redirect=true">install Google Chrome Frame</a> to better experience this site.</p>
        <![endif]-->

            <header>
                <div id="top-header">
                    <div class="container">
                        <div class="row">
                        </div>
                    </div>
                </div>
                <div id="main-header" style="background-color:#FFEFDB">
                    <div class="container">
                        <div class="row">
                            <div class="col-md-2">
                                <div class="logo">
                                    <a href="#"><img src="images/logo.png" title="扬帆教育" alt="扬帆教育" ></a>
                                </div>
                            </div>
                            <div class="col-md-10">
                                <div class="main-menu">
                                    <ul>
                                        <li><a href="index.html">主页</a></li>
                                        <li><a href="item.html">幼儿培训</a></li>
                                        <li><a href="item.html">艺术教师输出</a></li>
										<li><a href="item.html">园长资格证</a></li>
										<li><a href="item.html">教师资格证</a></li>
										<li><a href="item.html">学历提升</a></li>
										<li><a href="item.html">微信公众号制作</a></li>
										<li><a href="contact-us.html">加入我们</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </header>
		<!--	<ul class="social">
				<li class="twitter"><a href="tencent://message/?uin=1026514749&amp;Site=有事Q我&amp;Menu=yes">  
						<img style="border:0px;" src=http://wpa.qq.com/pa?p=1:707321921:9>客服00001</a></li>        
				<li class="facebook"><a href="tencent://message/?uin=1026514749&amp;Site=有事Q我&amp;Menu=yes">  
						<img style="border:0px;" src=http://wpa.qq.com/pa?p=1:707321921:9>客服00001</a></li>
				<li <a target="_blank" href="http://mail.qq.com/cgi-bin/qm_share?t=qm_mailme&email=huzv4761tr_zsrfG9-eo5enr" style="text-decoration:none;">公司邮箱</a></li>
			</ul>
		-->
			<div id="product-post">
                <div class="container">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="heading-section">
                                <h2>喜欢就加入我们吧</h2>
                                <img src="images/under-heading.png" alt="" >
                            </div>
                        </div>
                    </div>
                    <div id="contact-us">
                        <div class="container">
                            <div class="row">
                                <div class="product-item col-md-12">
                                    <div class="row">
                                        <div class="col-md-8">  
                                            <div class="message-form">
                                                <form action="#" method="post" class="send-message">
                                                    <div class="row">
                                                    <div class="name col-md-4">
                                                        <input type="text" name="name" id="name" placeholder="姓名" />
                                                    </div>
                                                    <div class="email col-md-4">
                                                        <input type="text" name="email" id="email" placeholder="邮箱" />
                                                    </div>
                                                    <div class="subject col-md-4">
                                                        <input type="text" name="subject" id="subject" placeholder="简历" />
                                                    </div>
                                                    </div>
                                                    <div class="row">        
                                                        <div class="text col-md-12">
                                                            <textarea name="text" placeholder="简单介绍"></textarea>
                                                        </div>   
                                                    </div>                              
                                                    <div class="send">
                                                        <button type="submit">发送</button>
                                                    </div>
                                                </form>
                                            </div>
                                        </div>
                                        <div class="col-md-4">
                                            <div class="info">
                                                <p>有什么疑问可以随时与我们联系，联系方式如下 </p>
                                                <ul>
                                                    <li><i class="fa fa-phone"></i>010-020-0340</li>
                                                    <li><i class="fa fa-globe"></i>123 Dagon Studio, Yakin Street, Digital Estate</li>
                                                    <li><i class="fa fa-envelope"></i><a href="#">info@company.com</a></li>
                                                </ul>
                                            </div>
                                        </div>     
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="heading-section">
                                <h2>公司位置</h2>
                                <img src="images/under-heading.png" alt="" >
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <div id="googleMap" style="height:420px;"></div>
                        </div>
                    </div>     
                </div>
            </div>
			<footer>
                <div class="container">
                    <div class="main-footer">
                        <div class="row">
                            <div class="col-md-6">
                                <div class="recent-posts">
                                    <h4 class="footer-title">最新活动</h4>
                                    <div class="recent-post">
                                        <div class="recent-post-thumb">
                                            <img src="images/recent-post1.jpg" alt="">
                                        </div>
                                        <div class="recent-post-info">
                                            <h6><a href="#">园长资格证报名</a></h6>
                                            <span>2016-10-17</span>
                                        </div>
                                    </div>
                                    <div class="recent-post">
                                        <div class="recent-post-thumb">
                                            <img src="images/recent-post2.jpg" alt="">
                                        </div>
                                        <div class="recent-post-info">
                                            <h6><a href="#">教师资格证报名</a></h6>
                                            <span>2016-10-17</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="more-info">
                                    <h4 class="footer-title">更多信息</h4>
                                    <p>如果你想要对我们公司有更深刻的了解，以下是我们公司的联系方式</p>
                                    <ul>
                                        <li><i class="fa fa-phone"></i>010-020-0340</li>
                                        <li><i class="fa fa-globe"></i>天津市xx区xx路xx大楼xxx</li>
                                        <li><i class="fa fa-envelope"></i><a href="#">yangfangjiaoyu@126.com</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="bottom-footer">
                        <p>Copyright © 2084 <a href="#">扬帆教育</a> Collect from </p>
                    </div>
                    
                </div>
            </footer>

    
        <script src="js/vendor/jquery-1.11.0.min.js"></script>
        <script src="js/vendor/jquery.gmap3.min.js"></script>
        <script src="js/plugins.js"></script>
        <script src="js/main.js"></script>
		<script src="js/jquery.pin.js"></script>
		<script type="text/javascript">
		$(function(){
			$(".pinned").pin({
				minWidth: 940
			});
		});		
		</script>

    </body>
</html>